<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="materialize.min.css"/>
        <h:outputScript library="js" name="jquery-3.2.1.min.js"/>
        <h:outputScript library="js" name="materialize.min.js"/>

    </h:head>
    <h:body>
       <ul id="slide-out" class="side-nav">
            <p:growl id="messages" showDetail="true"/>
            <h:form>
        <li>
          <div class="userView">
            <div class="background">
            </div>
            <a href="#!user">
              <h1>D</h1>
            </a>
            <a href="#!name"><span class="white-text name">Dumetschool</span></a>
            <a href="#!email"><span class="white-text email">info@dumetschool.com</span></a>
          </div>
        </li>
           
                <p:menu toggleable="true" class="userView">
                    <p:submenu label="Ajax" class="submenu-title">
                        <p:menuitem class="menuitem-badge" value="Save" actionListener="null" update="messages" icon="ui-icon-disk" />
                        <p:menuitem class="menuitem-badge" value="Update" actionListener="null" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
                    </p:submenu>
                    <p:submenu label="Non-Ajax" class="submenu-title">
                        <p:menuitem value="Delete" actionListener="null" update="messages" ajax="false" icon="ui-icon-close"/>
                    </p:submenu>
                    <p:submenu label="Navigations" class="submenu-content">
                        <p:menuitem class="menuitem-badge" value="External" url="http://www.primefaces.org" icon="ui-icon-home"/>
                        <p:menuitem value="Internal"  icon="ui-icon-star"/>
                    </p:submenu>
                </p:menu>
             
        <li>
          <div class="divider"></div>
        </li>
           <p:menu class="menuitem-active">
               <p:submenu class="submenu-content" label="Apa Aja">
                   <p:menuitem value="link 1" class="subheader"/>
                   <p:menuitem value="link 2" class="waves-effect"/>
               </p:submenu>
           </p:menu>
        </h:form> 
      </ul>
      <a href="#"  data-activates="slide-out" class="button-collapse btn waves-effect waves-light blue lighten-3">Menu</a> 
           
      
      <script>
        $('.button-collapse').sideNav({
            menuWidth: 300,
            edge: 'left', 
            closeOnClick: true,
            draggable: true 
          }
        );
      </script> 
      
    </h:body>
</html>

