<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <h:outputScript name="js/nanoscroller.js" library="california-layout" />
        <h:outputScript name="js/layout.js" library="california-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="california-layout" />
        <h:outputStylesheet name="css/layout-alive.css" library="california-layout" />
        
        <link href="#{resource['california-layout:images/kemendagricon.ico']}" rel="icon" type="image/png"/>
        <title>SIAP BMD</title>
    </h:head>
    <h:body class="main-body">

        <div class="layout-wrapper layout-wrapper-sidebar-inactive">
            <div class="layout-topbar">
                <a href="#{logoutBean.onOffice()}" class="logo">
                    <img id="j_idt20" src="#{resource['california-layout:images/logo.png']}" alt="logo app" />
                </a>
                <a id="topbar-menu-button" href="#">
                    <span class="sidebar-profile-name">#{userBean.fullName}</span>
                    <img id="j_idt40" src="#{resource['california-layout:images/avatar.png']}" alt="logo pemda" />
                </a>
                <ul id="topbar-usermenu" class="usermenu usermenu-overlay fadeInDown" 
                    style="top: 60px; right: 0px; left: auto;">
                    <li>
                        <a href="Edit_Profile.jsf?">
                            <i class="fa fa-fw fa-user"></i>
                            <span class="topbar-item-name">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <h:form>
                            <h:commandLink actionListener="#{logoutBean.onLogout()}">
                                <i class="fa fa-fw fa-power-off"></i>
                                <span class="topbar-item-name">Logout</span>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <script id="menuform:j_idt52_s" type="text/javascript">PrimeFaces.cw("California", "me", {id: "menuform:j_idt52"});</script>
                </ul>
            </div>

            <!--CONTENT PAGE-->
            <div class="layout-main">
                <!--MENU BAR-->
                <div class="route-bar">
                    <div class="route-bar-breadcrumb">
                        <a href="#{logoutBean.onOffice()}" data-tooltip="Modul">
                            <i class="fa fa-th-large"></i> <span> </span> Modul Aplikasi
                        </a>
                    </div>
                    <ul class="route-bar-menu">
                        <li>
                            <a href="https://www.dropbox.com/s/08zmt6gbby47vja/USERGUIDE%20SIAP%20BMD%20versi%203%20oke.pdf?dl=0" data-tooltip="User Guide">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                    <script id="j_idt78_s" type="text/javascript">$(function () {
                            PrimeFaces.cw("Tooltip", "widget_j_idt78", {id: "j_idt78", showEffect: "fade", hideEffect: "fade", showDelay: 0, globalSelector: ".route-bar-menu a", position: "bottom"});
                        });</script>
                </div>
                <!--END MENU BAR-->

                <!--CONTENT-->
                <div class="layout-main-content" style="margin-bottom: 200px">
                    <div class="dashboard">
                        <!--MODUL-->
                        <ui:insert name="appcontent"></ui:insert>
                        <!--END MODUL-->
                    </div>
                </div>
                <!--END CONTENT-->

                <!--FOOTER-->
                <div class="layout-footer ui-g-12">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6 footer-left">
                            <p> &#169; 2016 - KEMENDAGRI |  All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END CONTENT PAGE-->
        </div>

        <!--PRELOADER-->
        <div id="j_idt219" style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <div id="j_idt219_start" style="display:none">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
            </div>
            <div id="j_idt219_complete" style="display:none"></div>
        </div>
        <script id="j_idt219_s" type="text/javascript">$(function () {
                PrimeFaces.cw("AjaxStatus", "widget_j_idt219", {id: "j_idt219"});
            });</script>
        <!--END PRELOADER-->

    </h:body>
</html>