<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
<!--         Compiled and minified CSS 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="js/materialize.min.js"></script>
         Compiled and minified JavaScript 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        -->
        <h:outputStylesheet library="css" name="materialize.min.css"/>
        <h:outputScript library="js" name="materialize.min.js"/>
        <h:outputScript library="js" name="jquery-3.2.1.min.js"/>

    </h:head>
    <h:body>
        
        <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card">
                                <div class="card-content">
                                    <img class="responsive-img" style="max-width: 64px" src="https://www.buycpanel.com/wp-content/uploads/2017/03/User-Lock.png"/>
                                    <div class="left-align">
                                        <h:form id="login-form">
                                            <p:growl autoUpdate="true" id="growl"/>
                                            <p:messages id="msgs" />
                                            <div class="row">
                                                <div class="col s12 input-field">
                                                    <h:inputText id="username" value="#{userMBean.user}" required="true" requiredMessage="Username belum diisi"/>
                                                    <h:outputLabel for="username" value="User Name"/>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <p:password id="nonFeedback" value="#{userMBean.password}" required="true" requiredMessage="Password belum diisi" />
                                                    <h:outputLabel for="password" value="Password"/>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <p:commandButton  update="growl" styleClass="btn btn-small" actionListener="#{userMBean.klikLogin}" 
                                                                     style="width: 120px; margin-bottom: 20px" value="Logn"/> &#160;&#160;
                                                    <h:commandLink  value="Register" 
                                                        style="width: 120px; margin-bottom: 20px" 
                                                        class="btn green-btn" action="register.xhtml"/>
                                                </div>
                                            </div>
                                        </h:form>
                                        <h:button  onclick ="#{userMBean.testInternet()}" value="Test Koneksi"/> 
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p:dataTable var="data" value="#{dtBasicView.cars}" class="table-of-contents"
                                     scrollable="true"
                                     paginator="true" rows="5" rowsPerPageTemplate="5, 10, 20, 25"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} 
                                     {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     paginatorPosition="bottom">
                                    <p:column headerText="Id">
                                        <h:outputText value="Ko0112" />
                                    </p:column>

                                    <p:column headerText="Year">
                                        <h:outputText value="Miting" />
                                    </p:column>

                                    <p:column headerText="Brand">
                                        <h:outputText value="brontok" />
                                    </p:column>

                                    <p:column headerText="Color">
                                        <h:outputText value="brozol" />
                                    </p:column>
                                </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!--        <script>
            $(document).on("ready",function(){
                $('login-page').css({'height' : window.innerHeight+ 'px'});
            });
        </script>-->
    </h:body>
</html>

