<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        
    </h:head>
    <h:body>
<p:layout fullPage="true">
<!--============================== HEADER ======================================================================-->
    <p:layoutUnit position="north" collapsible="true" header="Top" style="background-color: #0059bc">

    </p:layoutUnit>

    <!--============================== SIDE BAR ==================================================================================-->            
    <p:layoutUnit position="west" size="200" collapsible="true" header="Navbar" style="background-color: #0059bc">
        <!--<ui:include src="template/Sidebar.xhtml"></ui:include>-->
        <h:form id="sideform">
            <h:outputLabel id="outtxt" value="#{mahasiswaMBean.nama}"/><br></br>
            <h:inputText id="intxt" value="#{mahasiswaMBean.nama}"/><br></br>
            <f:ajax event="keyup" execute="intxt" rendered="outtxt"/>
            
            <p:panelGrid columns="1">
                
                
                <p:selectOneMenu id="propin" value="#{mahasiswaMBean.propinsi_id}" filter="true">
                    <p:ajax event="change" listener="#{mahasiswaMBean.selectPropinsi()}" update="kabu,keca,des" />
                    <f:selectItem itemLabel="Pilih Propinsi" itemValue="" noSelectionOption="true"/>
                    <f:selectItems var="prop" value="#{mahasiswaMBean.listPropinsi}" 
                                   itemValue="#{prop.id}" itemLabel="#{prop.nama}" />
                </p:selectOneMenu>
                    <p:selectOneMenu  id="kabu" value="#{mahasiswaMBean.kabupaten_id}" filter="true" >
                        <p:ajax listener="#{mahasiswaMBean.selectKabupaten()}" update="keca,des" />
                        <f:selectItem itemLabel="Pilih Kabupaten"  itemValue="" noSelectionOption="true"/>
                        <f:selectItems var="kab" value="#{mahasiswaMBean.listKabupaten}" 
                                       itemValue="#{kab.id}" itemLabel="#{kab.nama}" />
                        
                    </p:selectOneMenu>
                    <p:selectOneMenu id="keca" value="#{mahasiswaMBean.kecamatan_id}" filter="true">
                    <p:ajax listener="#{mahasiswaMBean.selectKecamatan()}" update="des" />
                        <f:selectItem itemLabel="Pilih Kecamatan"  itemValue="" noSelectionOption="true"/>
                        <f:selectItems var="kec" value="#{mahasiswaMBean.listKecamatan}" 
                                       itemValue="#{kec.id}" itemLabel="#{kec.nama}"/>
                        
                    </p:selectOneMenu>
                <p:selectOneMenu id="des" value="#{mahasiswaMBean.desa_id}" filter="true">
                        <f:selectItem itemLabel="Pilih Desa"  itemValue="" noSelectionOption="true"/>
                        <f:selectItems var="desa" value="#{mahasiswaMBean.listDesa}" 
                                       itemValue="#{desa.id}" itemLabel="#{desa.nama}"/>
                    </p:selectOneMenu>
                    
                <p:inputTextarea id="ialamat" label="alamat" widgetVar="walamat" autoResize="true"/>
                
                <p:commandButton actionListener="#{mahasiswaMBean.ambilData()}" label="Ambil Data" />
                
            </p:panelGrid>
            
        </h:form>
        <h:form>
            <h3 style="margin-top:0">Client</h3>
            <p:tree value="#{mahasiswaMBean.root}" var="node">
                <p:treeNode>
                    <h:outputText value="#{node}" />
                </p:treeNode>
            </p:tree>

        </h:form>

    </p:layoutUnit>

        <!--========================= CONTENT =================================================================================-->        
    <p:layoutUnit position="center" header="Content" style="background-color: yellow">
        <h:form id="appform">
            <p:growl id="growl" sticky="true" showDetail="true" />
                <p:outputPanel id="opmain">
                    <p:panelGrid columns="2">
                        <p:panelGrid columns="3">
                            <p:panelGrid styleClass="ui-noborder">
                                <p:row>
                                    <p:column>NIM</p:column>
                                    <p:column>:</p:column>
                                    <p:column>
                                        <p:inputText id="nim" value="#{mahasiswaMBean.nim}" required="true">
                                            <!--<f:validateLength minimum="2" />-->
                                        </p:inputText> <p:message for="nim" display="icon" />
                                    </p:column>
                                    
                                </p:row>
                                <p:row>
                                    <p:column>Nama</p:column>
                                    <p:column>:</p:column>
                                    <p:column><p:inputText value="#{mahasiswaMBean.nama}" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>JK</p:column>
                                    <p:column>:</p:column>
                                    <p:column>
                                    <p:selectOneRadio  value="#{mahasiswaMBean.jk}">
                                        <f:selectItem itemLabel="Laki-Laki" itemValue="Laki-Laki" />
                                        <f:selectItem itemLabel="Perempuan" itemValue="Perempuan" />
                                    </p:selectOneRadio>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>Jurusan</p:column>
                                    <p:column>:</p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{mahasiswaMBean.jurusan}">
                                            <f:selectItem itemLabel="Pilih Jurusan" itemValue=""/>
                                            <f:selectItems var="jur" value="#{mahasiswaMBean.listJurusan}" 
                                                           itemValue="#{jur.id}" itemLabel="#{jur.jurusan}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="3">
                                    <p:commandButton value="Simpan"
                                                     update="growl, opmain"
                                                     actionListener="#{mahasiswaMBean.simpanMhs()}">
                                        
                                   </p:commandButton> &nbsp;&nbsp;
                                    <p:commandButton value="Edit"
                                                     update="growl, opmain"
                                                     actionListener="#{mahasiswaMBean.editMhs()}" />&nbsp;&nbsp;
                                    <p:commandButton value="Hapus"
                                                     update="growl, opmain"
                                                     actionListener="#{mahasiswaMBean.hapusMhs()}" >
                                        <p:confirm header="Confirmation" message="Anda yakin hapus data ?" icon="ui-icon-alert" />
                                    </p:commandButton>
                                    <!--konfirmasi dialog CommandButton-->
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>
                                    
                                    </p:column>
                                </p:row>      
                            </p:panelGrid>
                        </p:panelGrid>
                            <p:dataTable var="mhs" selectionMode="single" rowKey="#{mhs}"
                                     selection="#{mahasiswaMBean.selectedMhs}"
                                     value="#{mahasiswaMBean.listMhs}" widgetVar="mhsTable"
                                     emptyMessage="No cars found with given criteria" scrollable="true"
                                     paginator="true" rows="5" rowsPerPageTemplate="5, 10, 20, 25" paginatorPosition="bottom"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} 
                                     {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:ajax event="rowSelect" update=":appform:opmain" 
                                     listener="#{mahasiswaMBean.onSelectedMhs()}" />

                                <f:facet name="header">
                                    <p:outputPanel>
                                        <h:outputText value="Search all fields:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('mhsTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{mhs.nim}" headerText="NIM" >
                                    <h:outputText value="#{mhs.nim}" />
                                </p:column>

                                <p:column filterBy="#{mhs.nama}" headerText="NAMA" >
                                    <h:outputText value="#{mhs.nama}" />
                                </p:column>

                                <p:column filterBy="#{mhs.jk}" filterStyle="display : none" headerText="Jenis Kelamin">
                                    <h:outputText value="#{mhs.jk}" />
                                </p:column>

                                <p:column filterBy="#{mhs.jurusan.jurusan}" headerText="Jurusan" >
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('mhsTable').filter()" >
                                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{mahasiswaMBean.listJurusan}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{mhs.jurusan.jurusan}" />
                                </p:column>

                                <p:column>
                                    <h:commandLink value="View " actionListener="#{mahasiswaMBean.submit()}" >

                                    </h:commandLink>
                                </p:column>

                        </p:dataTable>
                    </p:panelGrid>
                    

                </p:outputPanel>
            </h:form>

    </p:layoutUnit>
    <!--============================ FOOTER ====================================================================================-->
    <p:layoutUnit position="south" size="50" header="Footer" collapsible="true" style="background-color: #0059bc">

    </p:layoutUnit>
</p:layout>
        
<!--            <h:form id="stck">
                <p:stack id="pnl"  icon="/resources/images/menu.png" expanded="true">
                    <p:menuitem value="Home" icon="/resources/images/home.png" url="#"/>
                    <p:menuitem value="Music" icon="/resources/images/music.png" url="#"/>
                    <p:menuitem value="Video" icon="/resources/images/video.png" url="#"/>
                    <p:menuitem value="Email" icon="/resources/images/email.png" url="#"/>
                    <p:menuitem value="Portfolio" icon="/resources/images/portfolio.png" url="#"/>
                </p:stack>
                <p:draggable for="pnl" />
            </h:form>-->
    </h:body>
</html>

