<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
<!--         Compiled and minified CSS 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="js/materialize.min.js"></script>
         Compiled and minified JavaScript 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        -->
        <h:outputStylesheet library="css" name="materialize.min.css"/>
        <h:outputScript library="js" name="materialize.min.js"/>
        <h:outputScript library="js" name="jquery-3.2.1.min.js"/>

    </h:head>
    <h:body>
        
        <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card">
                                <div class="card-content">
                                    <img class="responsive-img" style="max-width: 64px" src="https://www.buycpanel.com/wp-content/uploads/2017/03/User-Lock.png"/>
                                    <div class="left-align">
                                        <h:form id="register-form" >
                                            <p:growl autoUpdate="true" id="growl"/>
                                            <p:messages id="msgs" />
                                            <div class="row">
                                                <div class="col s12 input-field" style="line-height: 5px">
                                                    <h:inputText id="firstname" value="#{userMBean.firstname}" required="true" requiredMessage="First Name belum diisi"/>
                                                    <h:outputLabel for="username" value="First Name"/>
                                                </div>
                                                <div class="col s12 input-field" style="line-height: 5px">
                                                    <h:inputText id="lastname" value="#{userMBean.lastname}" required="true" requiredMessage="Last Name belum diisi"/>
                                                    <h:outputLabel for="username" value="Last Name"/>
                                                </div>
                                                 <div class="col s12 input-field" style="line-height: 10px">
                                                    <h:inputText id="user" value="#{userMBean.user}" required="true" requiredMessage="Last Name belum diisi"/>
                                                    <h:outputLabel for="username" value="Last Name"/>
                                                </div>
                                                <div class="col s12 input-field" style="line-height: 10px">
                                                    <h:inputText id="email" value="#{userMBean.email}" required="true" requiredMessage="Email belum diisi"/>
                                                    <h:outputLabel for="username" value="Email"/>
                                                </div>
                                                
                                                <div class="col s12 input-field">
                                                    <h:outputLabel for="pwd1" value="Password : *" />
                                                    <p:password id="feedback" value="#{userMBean.password}" match="pwd2" label="Password" required="true" feedback="true" inline="true"/>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <h:outputLabel for="pwd2" value="retype Password: *" />
                                                    <p:password id="pwd2" value="#{userMBean.password}" label="Retype Password" required="true" />
                                                </div>
                                                
                                                <div class="col s12 input-field">
                                                    <p:commandButton update="growl" styleClass="btn btn-large" actionListener="null" value="Register"/> &#160;&#160;
                                                    <h:link onclick="login.xhtml" value="Login"/>&#160;&#160;
                                                </div>
                                            </div>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            $(document).on("ready",function(){
                $('login-page').css({'height' : window.innerHeight+ 'px'});
            });
        </script>
    </h:body>
</html>

