<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <!--============================== HEADER ======================================================================-->
            <p:layoutUnit position="north" collapsible="true" header="Top" style="background-color: #0059bc">
                <h:form>     
                    <p:growl id="messages" showDetail="true" />
                    <p:toolbar style="background-color: #00a6d2">
                        <f:facet name="left">   
                            <p:commandButton icon="ui-icon-arrowreturnthick-1-w" actionListener="#{viewMBean.back}"/>
                            <p:commandButton id="dynaButton"  icon="ui-icon-home"/>
                            <p:slideMenu overlay="true" trigger="dynaButton" my="left top" at="left bottom" style="width:180px">
                                <p:submenu label="File">
                                    <p:menuitem value="Save" actionListener="null" update="messages" icon="ui-icon-disk"/>
                                    <p:menuitem value="Update" actionListener="null" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
                                </p:submenu>
                                <p:submenu label="Data">
                                    <p:menuitem value="Delete" actionListener="null"  ajax="false" icon="ui-icon-close"/>
                                </p:submenu>
                                <p:submenu label="Option" icon="ui-icon-extlink">
                                    <p:submenu label="Prime Links">
                                        <p:menuitem value="Prime" url="http://www.prime.com.tr" />
                                        <p:menuitem value="PrimeFaces" url="http://www.primefaces.org" />
                                    </p:submenu>
                                    <p:menuitem value="Mobile" outcome="/index" />
                                </p:submenu>
                            </p:slideMenu>

                            <!--                            <p:commandButton type="button" onclick="PF('bar').show()"  icon="ui-icon-document" />
                                                            <p:notificationBar position="top" effect="slide" styleClass="top" widgetVar="bar" style="margin-top: 50px">
                                                                <h:outputText value="PrimeFaces Rocks!" style="font-size:36px;" />
                                                                <p:commandButton onclick="PF('bar').hide()" icon="ui-icon-arrow-1-n"/>
                                                            </p:notificationBar>-->

                            <p:commandButton type="button"  icon="ui-icon-folder-open" />

                            <span class="ui-separator">
                                <span class="ui-icon ui-icon-grip-dotted-vertical" />
                            </span>

                            <p:commandButton type="button" title="Save" icon="ui-icon-disk" />
                            <p:commandButton type="button" title="Delete" icon="ui-icon-trash" />
                            <p:commandButton type="button" title="Print" icon="ui-icon-print" />
                        </f:facet>

                        <f:facet name="right">
                            <p:menuButton value="Options">
                                <p:menuitem value="Save" actionListener="#{toolbarView.save}" update="messages" icon="ui-icon-disk" />
                                <p:menuitem value="Update" actionListener="#{toolbarView.update}" update="messages" icon="ui-icon-arrowrefresh-1-w" />
                                <p:menuitem value="Delete" actionListener="#{toolbarView.delete}" ajax="false" icon="ui-icon-close" />
                                <p:menuitem value="Homepage" url="http://www.primefaces.org" icon="ui-icon-extlink" />
                            </p:menuButton>
                        </f:facet>

                    </p:toolbar>
                </h:form>
            </p:layoutUnit>

            <!--============================== NAVBAR ==================================================================================-->            
            <p:layoutUnit position="west" size="200" collapsible="true" header="Navbar" style="background-color: #0059bc">
                <h:form>
                    <p:growl id="messages" showDetail="true"/>

                    <p:slideMenu style="width:180px;" >
                        <p:submenu label="Menu 1" icon="ui-icon-refresh">
                            <p:menuitem value="Sub Menu 1.1" actionListener="null" update="messages" icon="ui-icon-disk" />
                            <p:menuitem value="Sub Menu 1.2" actionListener="null" update="messages" icon="ui-icon-arrowrefresh-1-w" />
                        </p:submenu>
                        <p:submenu label="Menu 2" icon="ui-icon-newwin">
                            <p:menuitem value="Sub Menu 2.1" actionListener="null"  ajax="false" icon="ui-icon-close"/>
                        </p:submenu>
                        <p:separator />
                        <p:submenu label="Menu 3" icon="ui-icon-extlink">
                            <p:submenu label="Sub Menu 3.1">
                                <p:menuitem value="Sub Menu 3.1.1" url="http://www.prime.com.tr" />
                                <p:menuitem value="Sub Menu 3.1.2" url="http://www.primefaces.org" />
                            </p:submenu>
                            <p:menuitem value="Sub Menu 3.2" outcome="/index" />
                        </p:submenu>
                    </p:slideMenu>

                    <p:separator />

                    <p:commandButton id="dynaButton" value="Show" type="button" icon="ui-icon-extlink"/>
                    <p:slideMenu overlay="true" trigger="dynaButton" my="left top" at="left bottom" style="width:180px" >
                        <p:submenu label="Menu 1">
                            <p:menuitem value="Sub Menu 1.1" actionListener="null" update="messages" icon="ui-icon-disk"/>
                            <p:menuitem value="Sub Menu 1.2" actionListener="null" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
                        </p:submenu>
                        <p:submenu label="Menu 2">
                            <p:menuitem value="Sub Menu 2.1" actionListener="null"  ajax="false" icon="ui-icon-close"/>
                        </p:submenu>
                        <p:submenu label="Menu 3" icon="ui-icon-extlink">
                            <p:submenu label="Sub Menu 3.1">
                                <p:menuitem value="Sub Menu 3.1.1" url="http://www.prime.com.tr" />
                                <p:menuitem value="Sub Menu 3.1.2" url="http://www.primefaces.org" />
                            </p:submenu>
                            <p:menuitem value="Sub Menu 3.2" outcome="/index" />
                        </p:submenu>
                    </p:slideMenu>
                </h:form>

            </p:layoutUnit>

            <!--========================= CONTENT =================================================================================-->        
            <p:layoutUnit position="center" header="Content" style="background-color: yellow">
                <h:form id="appform" >
                    <p:growl id="messages" showDetail="true" />
                    <p:panelGrid columns="2">

                        <p:panelGrid >
                            <p:row>
                                <h:form enctype="multipart/form-data">

                                    <p:fileUpload value="#{viewMBean.file}" mode="simple" skinSimple="true"/><br></br>
                                    <p:commandButton value="Submit" ajax="false" actionListener="#{viewMBean.upload}" disabled="false" />
                                </h:form>
                            </p:row>
                            <p:separator />
                            <p:row>   
                                <p:growl id="growl" showDetail="true" />
                                <p:outputPanel id="opmain">
                                    <p:tree  value="#{viewMBean.root}" var="abc" selectionMode="single" 
                                             selection="#{viewMBean.selectedNode}">
                                        <p:ajax event="expand" update=":appform:growl"  listener="#{viewMBean.onNodeExpand}" />
                                        <p:ajax event="select" update=":appform:growl,:appform:pantabel,:appform:opmain" listener="#{viewMBean.onNodeSelect}" />
                                        <p:ajax event="collapse" listener="#{viewMBean.onNodeCollapse}" />
                                        <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                            <h:outputText value="#{abc}" />
                                        </p:treeNode>
                                    </p:tree>
                                </p:outputPanel>

                            </p:row>
                        </p:panelGrid>
                        <p:panelGrid>

                            <p:dataList id="pantabel" value="#{viewMBean.liistm}" var="mhs" type="ordered">
                                <f:facet name="header">
                                    Basic
                                </f:facet>
                                <h:outputText value="#{mhs.nama}, #{mhs.nim}" style="display:inline-block"/>

                            </p:dataList>


                        </p:panelGrid>
                    </p:panelGrid>
                    <p:panelGrid>
                        <p:growl id="growl2" showDetail="true" />
                        <p:outputPanel id="optest">
                            <p:tree value="#{viewMBean.root1}" var="doc" selectionMode="single" 
                                    selection="#{viewMBean.selectedNode1}">

                                <p:ajax event="expand" update=":appform:messages"  listener="#{viewMBean.onNodeExpand1}" />
                                <p:ajax event="collapse" update=":appform:messages" listener="#{viewMBean.onNodeCollapse1}" />
                                <p:ajax event="select" update=":appform:growl2,:appform:optest" listener="#{viewMBean.onNodeSelect1}" />
                                <p:ajax event="unselect" update=":appform:messages" listener="#{viewMBean.onNodeUnselect}" />

                                <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                    <h:outputText value="#{doc}"/>
                                </p:treeNode>
                            </p:tree>
                        </p:outputPanel>
                    </p:panelGrid>
                </h:form>
            </p:layoutUnit>
            <!--============================ FOOTER ====================================================================================-->
            <p:layoutUnit position="south" size="50" header="Footer" collapsible="true" style="background-color: #0059bc">

            </p:layoutUnit>
        </p:layout>

        <!--            <h:form id="stack">
                        <p:stack id="pnl"  icon="/resources/images/menu.png" expanded="true">
                            <p:menuitem value="Home" icon="/resources/images/home.png" url="#"/>
                            <p:menuitem value="Music" icon="/resources/images/music.png" url="#"/>
                            <p:menuitem value="Video" icon="/resources/images/video.png" url="#"/>
                            <p:menuitem value="Email" icon="/resources/images/email.png" url="#"/>
                            <p:menuitem value="Portfolio" icon="/resources/images/portfolio.png" url="#"/>
                        </p:stack>
                        <p:draggable for="pnl" />
                    </h:form>-->
    </h:body>
</html>

