<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>
            <ul id="slide-out" class="side-nav">
                <li><div class="user-view">
                  <div class="background">
                    <img src="images/office.jpg">
                  </div>
                  <a href="#!user"><img class="circle" src=""></a>
                  <a href="#!name"><span class="white-text name">John Doe</span></a>
                  <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
              <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

              <script>
//                  $(".button-collapse").sideNav();

                  $('.button-collapse').sideNav({
                        menuWidth: 300, // Default is 300
                        edge: 'right', // Choose the horizontal origin
                        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                        draggable: true, // Choose whether you can drag to open on touch screens,
                        onOpen: function(el) {  }, // A function to be called when sideNav is opened
                        onClose: function(el) {  }, // A function to be called when sideNav is closed
                      }
                    );
                    
                    // Show sideNav
                    $('.button-collapse').sideNav('show');
                    // Hide sideNav
                    $('.button-collapse').sideNav('hide');
                    // Destroy sideNav
                    $('.button-collapse').sideNav('destroy');

              </script>
        </h:body>

    </f:view>
</html>

